:root 
{
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;

    --nav-text-primary-color: #b6b6b6;
    --nav-text-secondary-color: #ececec;
    --nav-bg-primary-color: #23232e;
    --nav-bg-secondary-color: #141418;
    --nav-transition-speed: 600ms;

    --main-bg-primary-color: #343438;
}

body
{
    color: var(--nav-text-primary-color);
    background-color: var(--main-bg-primary-color);
    margin: 0;
    padding: 0;
}

main
{
    position: block;
    z-index: -1;
    margin-left: 5rem;
    padding: 1rem;
}

.navbar
{
    width: 5rem;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: var(--nav-bg-primary-color);
    transition: width 200ms ease;
}
.navbar:hover
{
    width: 16rem;
}


.nav-list
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-element
{
    width: 100%;
}

.nav-element:last-child
{
    margin-top: auto;
}

.nav-link
{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--nav-text-primary-color);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--nav-transition-speed);
}
.nav-link svg
{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}
.nav-link:hover
{
    filter: grayscale(0%) opacity(1);
}

.nav-text
{
    display: none;
    margin-left: 1rem;
}
.navbar:hover .nav-text
{
    display: block;
}

.fa-primary
{
    fill: #db60c7;
}
.fa-secondary
{
    fill: #e015be;
}
.fa-primary, .fa-secondary
{
    transition: var(--nav-transition-speed);
}

.nav-title
{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--nav-text-secondary-color);
    background: var(--nav-bg-secondary-color);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.nav-title svg
{
    transform: rotate(0deg);
    transition: transform var(--nav-transition-speed);
}
.navbar:hover .nav-title svg
{
    transform: rotate(-180deg);
}


/* Main content */
.main-title
{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
}

.profiles-container
{
    display: flex;
    flex-direction: column;
}

.profile
{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    margin: 1rem;
}

.profile-summary
{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 1rem;
    margin-right: 1.3rem;
    justify-content: center;
}

.profile-image
{
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-title
{
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    padding: 0.3rem;
    margin: 0 0 0 0;
    margin-top: 0.5rem; 
}

.profile-summary-text
{
    text-align: center;
    padding: 0.3rem;
    font-style: italic;
}

.profile-main-text
{
    position: relative;
    text-align: justify;
}


